[submodule "hardware/samsung"]
	path = hardware/samsung
	url = https://github.com/Roynas-Android-Playground/android_hardware_samsung/tree/fourteen
[submodule "hardware/samsung-ext"]
	path = hardware/samsung-ext
	url = https://github.com/Roynas-Android-Playground/hardware_samsung-extra_interfaces/tree/lineage-21
